body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #85d9fd;
}

.navbar {
  background-color: #85d9fd;
  /* border-radius: 25px; */
  width: 100%;
  height: 70%;
  /* display: flex; */
  /* justify-content: space-between; */
  text-align: center;
}
.nav-right{
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar ul {
  overflow: auto;
  align-items: center;
}

.navbar li {
  list-style: none;
  /* display: flex; */

}
.startline{
  font-size: 20px;
  font-weight: bolder;
  color: black;
  /* text-align: center; */
  padding:10px;
  background-color: palevioletred;
  float: left;
}
.navbar li a {
  text-decoration: none;
  padding: 10px;
  color: rgb(10, 10, 10);
  font-weight: bolder;
  float: right;

}

.navbar li a:hover {
  color: blue;
}
.navbar li a img{
  height: 30px;
  width: auto;
  mix-blend-mode:multiply;

}

/* Logo & heading */
.logo {
  text-align: center;
  color: #0a4d68;
  margin-top: 20px auto;
  padding: 20px;
  background-color: #01c2df;
}

.tagline {
  text-align: center;
  color: #088395;
  margin-bottom: 20px;
  padding: 20px;
  font-size: x-large;
  box-sizing: border-box;
  background-color: aquamarine;
}

/* Main box */
.container {
  width: 85%;
  margin: auto;
  background: #abeee1;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Section titles */
.section-title {
  color: #033541;
  width: 45%;
  font-size: 20px;
  padding: 15px;
  margin: 10px auto;
  background-color: #01c2df;
  text-align: center;
  border-radius: 10px;

}

/* Normal text */
.text {
  color: #333;
  line-height: 1.6;
  border: #01c2df;
  background-color: #85d9fd;
  padding: 40px;
  border-radius: 10px;
  font-size: large;

}

/* Images */
.image {
  width:800px;
  /* height: 45px; */
  display: block;
  margin: 15px auto;

}

/* Features list */
.features {
  list-style: "💧 ";
  padding: 30px;
  background-color: #39a7eb;
  border-radius: 10px;
  font-size: large;


}

.features li {
  margin: 8px 0;
}

/* Button */
.try-btn {
  display: block;
  margin: 25px auto;
  padding: 12px 25px;
  font-size: 16px;
  background: #0a4d68;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.try-btn:hover {
  background: #088395;
}